<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CRS-jb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <listener><listener-class>org.springframework.web.context.ContextLoaderListener</listener-class></listener>
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>/WEB-INF/cms-gateway-beans.xml</param-value>
  </context-param>
  
  
  <!-- simple CRS that relies on http parameters for item/source lookup, probably coming from JSP Taglib -->  
  <servlet>
    <description></description> 
    <display-name>tagCRS</display-name>
    <servlet-name>tagCRS</servlet-name>
    <servlet-class>com.uhg.umvs.bene.cms.contentretrieval.servlet.CRSSpringServlet</servlet-class>
    <init-param>
      <param-name>CRS_BEAN_NAME</param-name>
      <param-value>tag-content-request-server</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>tagCRS</servlet-name>
    <url-pattern>/tagCRS</url-pattern>
  </servlet-mapping> 

  <!-- simple CRS that relies on http parameters for item/source lookup, probably coming from JSP Taglib -->  
  <servlet>
    <description>CRS</description>
    <servlet-name>CRS</servlet-name>
    <servlet-class>com.uhg.umvs.bene.cms.contentretrieval.servlet.CRSSpringServlet</servlet-class>
    <init-param>
      <param-name>CRS_BEAN_NAME</param-name>
      <param-value>direct-content-request-server</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRS</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>